@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Paytone+One&family=Permanent+Marker&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-size: 16px;
}
body {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dffdfc;
}

.header {
    text-align: center;
    margin-top: 2rem;
    color: #a4133c;
}

.header__title, .header__subtitle {
    margin: 1rem;
    font-weight: normal;
    font-family: 'Paytone One', sans-serif;
    position: relative;
    width: max-content;
    border: 3px solid #ce6289;
    border-radius: 4px;
    line-height: 1.2;
}

.header__title {
    background-color: #ffafcc;
    font-size: 1.5rem;
    transform: rotate(-5deg);
    z-index: 100;
    margin: 1rem auto;
    padding: 0 3rem;
}

.header__subtitle {
    background-color: #ffc8dd;
    font-size: 2.5rem;
    transform: rotate(2deg);
    margin: -1rem auto 1.5rem;
    padding: 0.5rem 2rem;
}

/* .page-header h1, .page-header h2 {
    font-size: 3rem;
    text-align: center;
} */

.bingo-card {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 50rem;
    border: 2px solid #ce6289;
    border-radius: 4px;
}

.bingo-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    height: 100%;
}

.bingo-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 2px solid #ce6289;
    background-image: linear-gradient(to top, #fed6e3 0%, #a8edea 100%);
    text-align: center;
    cursor: pointer;
    width: 19.6vw;
    height: 19.6vw;
    font-size: 1.25rem;
    line-height: 1.2;
}

.bingo-cell__free-space {
    font-family: 'Permanent Marker', cursive;
    align-self: center;
    border-radius: 1rem;
    font-size: 2rem;
    transform: rotate(-20deg);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    letter-spacing: 3px;
    -webkit-text-fill-color: #a4133c;
    /* background: 
        radial-gradient(
        farthest-side at bottom left,
        rgba(255, 0, 255, 0.5), 
        transparent
        ),
        radial-gradient(
        farthest-corner at bottom right,
        rgba(255, 50, 50, 0.5), 
        transparent 400px
        );

    padding: 0.5rem; */
}

.bingo-cell img {
    max-width: calc(20vw - 16px);
}

/* .bingo-header {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
} */

/* .bingo-header__cell {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
} */

.clicked {
    /* background-color: #aaffaa; */
    position: relative;
}

.clicked::after {
    display: block;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    content: '';
    width: 80%;
    height: 80%;
    background-image: url('assets/neil.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bonus-content {
    position: absolute;
    bottom: 0;
    right: 1rem;
    font-size: 0.75rem;
}

@media screen and (min-width: 600px) {
    .header__title {
        font-size: 2rem;
        padding: 0.5rem 4rem;
    }
    
    .header__subtitle {
        font-size: 3rem;
    }
    .bingo-cell {
      height: 15vw;
      width: 15vw;
    }
  }

  @media screen and (min-width: 1025px) {
    .bingo-cell {
        height: 9rem;
        width: 9rem;
    }
  }